@CHARSET "UTF-8";
@IMPORT url("back_common.css");
body {
	overflow-x:hidden;
	overflow-y:hidden;
}

#logo_pic{
	position: relative;
	width: 148px;
	text-align: left;
	height: 63px;
	background-image: url("../images/logo_pic.gif");
	background-repeat: no-repeat;
}

#topmenu {
	position: relative;
	height: 63px;
	left: 148px;
	margin-top: -65px;
}

#logo {
	position: relative;
	width: 100%;
	height: 63px;
	text-align: left;
	background-image: url("../images/logo.gif");
	background-repeat: repeat-x;
}

#address {
	position: relative;
	text-align:left;
	height: 40px;
	background-image: url("../images/content_top.gif");
	background-repeat: repeat-x repeat-y;
	width: 100%;
}

#address_table {
	font-size: 13px;
	font-family:"宋体";
}
